$primary-color:#f2f2f2;
$body-color:rgb(250, 249, 249);
$violet-color:#9356DC;
$pink-color:#FF79DA;
$boreder-color:rgb(219, 210, 210);
$icon-color:rgb(114, 113, 113);
$gry-color:rgb(134, 133, 133);
$black-color:rgb(39, 38, 38);
$blackF-color:black;

