.omyfooter{
    display: grid;
    grid-template-columns:1fr;
    height: 200px;
    background-color:$black-color ;
 

  
   &__proposer{   
    h3{
         margin-left: 7px;
        color:white;
        font-family: 'Shrikhand', cursive;
     font-size: 30px
     }
   }
 
   &__proprest{
     @include proprestA;
     margin-top: -90px;
     .espace{
         margin-left: 5px;
         width: 60%;
        
       }
   }
   &__partenirmonleg{
       @include proprestA;
       margin-top: -65px;
       .espace{
           margin-left: 5px;
       }
   }
   &__contact{
       a{
       color: white;
       }
       margin-top: -50px;
       margin-left:10px;
       width: 40%;
       color:$body-color ; 
   }
}
