

/**
 SECTION HEADER
*/

header{
    .navfood{
            display: grid;
             grid-template-columns:100%;
             margin-top: 20px; 
            &__logo{
              i{
                @include  ordinataurp{
                    margin-left: 300px;
                }
                  margin-left: 10px;
                  height: 20px;
                  margin-top: 13px;
              } 
               display: grid;
               grid-template-columns: 10% 80%;
             height: 40px;
           
            @include  tablette{
                grid-template-columns: 10% 50%;
             }
             @include tablletp {
                 grid-template-columns:10% 50%;
             }
             @include tablletm{
                grid-template-columns:10% 30%;
             }
             @include tablletmp{
                grid-template-columns:10% 25%;
             }
              @include ordinataurp{
                grid-template-columns:10% 20%;   
              }
            
              border-bottom:2px solid $boreder-color;
              .logofod{
                width:50%;
                margin-left: 35px;
                margin-top: 10px;
                @include  ordinataurp{
                    margin-left: 280px;
                }
                }
            }
            &__maps{
               background-color: darken($primary-color, 8%);
                grid-template-columns:10% 50%;
                @include gridbutton;
                @include tablletmp{
                    grid-template-columns:5% 50%;   
                }
            }
            &__reservez{
                background-color: $primary-color ;
                height: 260px;
                grid-template-columns: 100%;
               @include gridbutton; 
               h1{
                   margin-top:-40px ;
                   text-align: center;
                   grid-template-columns: 70%;
                    @include gridbutton;
                }
                p{
                    text-align: center;
                    @include gridbutton;
                    
                }
              a{
                 
                @include flexbutton;
                @include  tablette {
                   width: 48% ;
                   margin-left: 100px; 
                }
                @include tablletp{
                    width: 37% ;
                    margin-left: 160px;
                }
                @include tablletmpx{
                    width: 33%; 
                    margin-left: 230px;
                }
               @include tablletmp{
                width: 20%;  
                margin-left:380px;
               }
               @include ordinataurp{
                margin-left:450px; 
               }
               @include ordinataurmax{
                margin-left:500px; 
               }
               @include ordinataurmax1{
                margin-left:600px;    
               }
                grid-template-columns: 100%;
                width: 59%;
                margin-left: 60px;
                margin-top: 30px;
                color: $body-color;
               }
           }
        }
       .fonct{
            display: grid;
           grid-template-columns: 1fr;
           grid-gap:15px;
           
            &__boutuon{
                @include flexbutton;
               
                .chois {
                    position: relative;
                    .number{
                        left: -15px;
                        @include flexbutton;
                       @include fonctionnement; 
                       @include tablette{
                       width:8%;
                        } 
                        @include tablletp{
                            width:9.5%;    
                        }
                        @include tablletm{
                            width: 8%;
                            
                        }
                        @include tablletmpx{
                            width: 7.5%; 
                         }
                         @include tablletmp {
                            width: 7.5%;
                            height: 39px;
                         }
                         @include tablletmpsas{
                           
                           width: 8%;
                         }


                    }
                    &:hover{
                        border: 2px solid $boreder-color;
                      }
                    .icon{
                        color: $icon-color; 
                        margin-left: 3px;
                       }
                    @include gridbutton;
                    @include choisy; 
                    @include tablletp{
                        grid-template-columns: 13% 68%;
                       
                        width:60%;
                        margin-left: -120px;
                     
                    }
                    @include tablletmpxy{
                        width:50%;  
                    }
                    @include  ordinataurp{
                       width:30%
                    }
               }
           }
           &__comp{
                 @include flexbutton;
                
                
               }
               .chois2{
                  position: relative;
                  .number2{
                    left: -15px;
                    @include flexbutton;
                   @include fonctionnement; 
                   @include tablette{
                   width:8%;
                    } 
                    @include tablletp{
                        width:9.5%;    
                    }
                    @include tablletm{
                        width: 8%;
                        
                    }
                    @include tablletmpx{
                        width: 7.5%; 
                     }
                     @include tablletmp {
                        width: 7.5%;
                        height: 39px;
                     }
                     @include tablletmpsas{
                       
                       width: 8%;
                     } 
                  }



                  &:hover{
                    border: 2px solid $boreder-color ;
                     }
                   .icon2{
                    color: $icon-color; 
                    margin-left: 3px;
                    }
                    @include gridbutton;
                    @include choisy; 
                    @include tablletp{
                    grid-template-columns: 13% 65%;
                    width:60%;
                    margin-left: -120px;
                     }   
                      @include tablletmpxy{
                      width:50%;  
                      }
                      @include  ordinataurp{
                        width:30%
                     }
            }
            &__degu{
                @include flexbutton;
               
                     
                .chois3{
                    position: relative;
                    .number3{
                      left: -15px;
                      @include flexbutton;
                     @include fonctionnement; 
                     @include tablette{
                     width:8%;
                      } 
                      @include tablletp{
                          width:9.5%;    
                      }
                      @include tablletm{
                          width: 8%;
                          
                      }
                      @include tablletmpx{
                          width: 7.5%; 
                       }
                       @include tablletmp {
                          width: 7.5%;
                          height: 39px;
                       }
                       @include tablletmpsas{
                         
                         width: 8%;
                       } 
                    }
                    &:hover{
                        border: 2px solid $boreder-color ;
                      }
                    .icon3{
                        color:$violet-color ; 
                        margin-left: 3px;
                     }
                    @include gridbutton;
                 @include choisy3; 
                 @include tablletp{
                    grid-template-columns: 13% 65%;
                    width:60%;
                    margin-left: -120px;
                    }
                    @include tablletmpxy{
                        width:50%;  
                    }
                    @include  ordinataurp{
                        width:30%
                     }
                    
                }
                
            }
          
        }
    }

 .food2{ 
     height: 300px;
      .navfood{
          &__logo{
              width: 100%;
              
          }
           .abouthef{
            width: 100%;
            height: 250px;
            @include tablletm {
            width: 100%;
            height: 300px;
             }
            @include ordinataurp {
              width: 100%;
              height: 500px;
            }
            @include ordinataurmin{
              width: 100%;  
              height: 500px
            }
           
           }
        }
        
    }
    
  
