/**
 SECTION RESTAURANTS
*/

.restaurant{
    
    @include tablletp{
       margin-right:35px ; 
       margin-left: 35px; 
       background-color: $primary-color;       
    }
    @include tablletm{
        height: 750px;  
    }
    @include ordinataurp{
        margin-right:150px;
        margin-left: 150px;   
    }
    @include ordinataurmax{
        height: 900px;
     background-color: transparent;
    }
    background-color: $primary-color;
    height: 1390px;
    margin-top: 60px;
    &__titre{
        width: 60%;
        height: 60px;
        margin-top: 40px;
        margin-left:40px ;
        display: flex;
        align-items: center;
    }
    .restimgages{
      
        @include gridbutton;
         grid-template-columns: 90%;
         grid-gap:15px;
         @include tablletm{
            grid-template-columns:45% 45%;
         }
         @include  tablletmp{
            grid-template-columns:50% 50%;
           margin-left: 15px;
           margin-right:15px ;
        }
        @include ordinataurmax{
            display: grid;
            grid-template-columns: 45% 45%;
            grid-gap:100px;
        }
       .img1{
         
     
        .butonneuv{
            margin-left:180px;
            @include greenbouton;
            @include flexbutton;
            @include tablette{
                width: 30%; 
            }
            @include tablletm{
                margin-left:90px;
                width: 15%;
            }
            @include tablletmpx{
                margin-left:130px;
               
            }
           @include tablletmpxy{
            margin-left:180px;
                width: 10%;
                
            }
            @include ordinataurp{
                width: 6%;
                left: 185px;
            }
            @include ordinataurmin{
                margin-left:300px;  
            }
        }
          @include images;
           @include tablletmp{
            height:300px;   
           }
           .wennington{
            position: relative;
                @include photos;
               @include tablletmp{
                height:200px;   
               }
           }
           .infoaceil1{
             
            @include imghefA ;
               .infoaceil2{
               @include infoaceilA;
               .hart1{
             
                margin-right: -8px;
                opacity: 1;
               } 
               .hart1:hover{
                 opacity: 0;
               }
               .hart2{
                color:$pink-color ; 
                margin-left: -20px;
                opacity: 0;
               }
               .hart2:hover{
                   opacity: 1;
                   font-size: 25px
               }
                  
               }
              .palette{
               margin-top: 3px;
              }
             .Méni{
               margin-top: -7px;
             }
           }
        }
       .img2{
          
        .butonneuv{
            margin-left:180px;
            @include greenbouton;
            @include flexbutton;
            @include tablette{
                width: 30%;
               
            }
            @include tablletm{
                margin-left:90px;
                width: 15%;
            }
            @include tablletmpx{
                margin-left:130px;
               
            }
           @include tablletmpxy{
            margin-left:180px;
                width: 10%;  
            }
            @include ordinataurp{
                width: 6%;
               
            }
            @include ordinataurmin{
                margin-left:300px;  
            }

          
        }
             @include images;
           
             @include tablletmp{
                height:300px;   
               }

            .unsplash{
             position: relative;
             @include photos;  
               @include tablletmp{
                height:200px;   
               }
              
            }
            .imgnot2{

                @include imghefA ;
            .note{
                margin-top: -6px;
            }
            .charonne{
                margin-top: -7px; 
            }
            .infoaceil2{
               @include infoaceilA;
               .hart1{
             
                margin-right: -8px;
                opacity: 1;
               } 
               .hart1:hover{
                 opacity: 0;
               }
               .hart2{
                color:$pink-color ;
                margin-left: -20px;
                opacity: 0;
               }
               .hart2:hover{
                   opacity: 1;
                   font-size: 25px
               }
            }
           

            
           }
       }
         .img3{
            
              @include images;
               @include tablletmp{
                height:300px;   
               }
            .heftiba{
                @include photos;
            @include tablletmp{
                height:200px;   
               }
            }
            .imghef3{
                @include imghefA ;
            }
            .francaise{
                margin-top: -1px;   
            }
            .cité{
                margin-top: -7px;
            }
            .infoaceil2{
                @include infoaceilA;
               .hart1{
             
                margin-right: -8px;
                opacity: 1;
               } 
               .hart1:hover{
                 opacity: 0;
               }
               .hart2{
                color:$pink-color ;
                margin-left: -20px;
                opacity: 0;
               }
               .hart2:hover{
                   opacity: 1;
                   font-size: 25px
               }
            }

       }
        .img4{
           
            @include images;
            @include tablletmp{
              height:300px;   
              }
        .louis{
            @include photos;
            @include tablletmp{
                height:200px;   
               }  
        }
        .imgdélic2{
            @include imghefA ;
            .délice{
                margin-top: -1px; 
            }
            .foli{
                margin-top: -7px;  
            }
            .infoaceil2{
                @include infoaceilA;
                .hart1{
             
                    margin-right: -8px;
                    opacity: 1;
                   } 
                   .hart1:hover{
                     opacity: 0;
                   }
                   .hart2{
                    color:$pink-color ;
                    margin-left: -20px;
                    opacity: 0;
                   }
                   .hart2:hover{
                       opacity: 1;
                       font-size: 25px
                   }
            }
        }
       }
    }
}
.loader-container{
    position: fixed;
    top: 0;
    left: 0;
    z-index:999;
    width: 100%;
    height: 100%;
    background-color: white;
  animation: disappear 1s 2s both;
}
.loader{
    width: 120px;
    height: 120px;
    border: 16px solid #e5e5e5;
    border-radius: 50%;
    border-top: 16px solid $pink-color ;
    border-bottom: 16px solid $violet-color ;
    position: absolute;
    top: 25%;
    left: 40%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 6px 2px rgba(0,0,0,0.2);
    animation:loader 2s linear  infinite ;
   
}
@keyframes loader{
    0%{
        transform:  rotate(0deg);
    }
    100%{
       transform: rotate(360deg);
    }
}


@keyframes disappear{
    0%{
        opacity: 1;
        z-index: 5;
    }
    100%{
     opacity: 0;
     display: none;
     z-index: -1;
    }
}
